#ifndef SECRETS_H
#define SECRETS_H

// define your ssid and passphrase here and save the file as secrets.h

#define SECRET_SSID="your ssid goes here"'
#define SECRET_PASS="your passphrase goes here"'

#endif
